<ion-app>
 
  <ion-menu side="start" menuId="m1">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          be-fit
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="m1">
          <ion-item lines="none" routerLink="/main-path/tabs/budget-planner-example">
            <ion-icon name="business" slot="start"> </ion-icon>
            <ion-label> Budget Planner </ion-label>
          </ion-item>
        </ion-menu-toggle>
       <ion-menu-toggle menu="m1">
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label> Logout </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet  main></ion-router-outlet>
</ion-app>
